<app-header></app-header>
<app-innerpage-banner></app-innerpage-banner>



<section class="services">
    <div class="container animatedParent">
        <div class="services-section">
            <h4>What we offer</h4>
            <h2>Current Job Openings</h2>
            <p class="tc"> WINUX Systems is a web application and web design development company providing end-to-end solutions in the web domain for clients worldwide - across the USA, UK, Australia, Europe and Asia. </p>
        </div>

        <div class="mtop30 career-section">
            <div class="row">





            </div>
        </div>
    </div>
</section>