.why-choose {
    padding: 80px 0 50px;
    background: var(--white-shade);
}

.choose-section h2 {
    color: var(--dark);
    text-transform: uppercase;
    font-size: 28px;
    margin-bottom: 20px;
    font-weight: 800;
}

.about-section ul {
    display: flex;
    flex-direction: column;
    font-size: 14px;
}

.about-section ul li {
    margin-bottom: 15px;
    position: relative;
    padding-left: 45px;
    font-size: 13px;
}

.about-section ul li::before {
    content: "";
    position: absolute;
    left: 0px;
    top: 10px;
    background: var(--blue);
    width: 20px;
    height: 2px;
}

section.gallery {
    padding: 80px 0 50px;
    background: url(../../../assets/bg-gallery.png) no-repeat;
    background-size: cover;
}

section .gallery-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

section.gallery h2 {
    color: var(--white);
    text-transform: uppercase;
    font-size: 26px;
    font-weight: 800;
    position: relative;
    margin-bottom: 40px;
}

section.gallery h2:after {
    background: var(--blue);
    position: absolute;
    width: 50px;
    height: 1px;
    left: 0;
    top: 40px;
    content: "";
    right: 0;
    margin: 0 auto;
}