<app-header></app-header>
<app-innerpage-banner></app-innerpage-banner>

<section class="why-choose">
    <div class="container">
        <div class="row m-r">
            <div class="col-sm-12 col-md-6">
                <div class="choose-section">
                    <h2>About <span class="blue">us?</span></h2>

                    <p>We are an offshore software development firm based in Chandigarh, India. Our skill sets include ReactJs, AngularJs, .NET, PHP, MSSQL, MySQL and many more... The innovative minds at Winux Software Solutions explore new horizons every
                        day to implement cutting edge software solutions to discerning clients across the globe We create tomorrow’s technologies today.
                    </p>

                    <p>Winux Software Solutions has a rich experience in developing and deploying ASP and ASP.NET software solutions to clients worldwide. We have delivered on several web and desktop software ASP.NET and VB.NET applications, ranging from
                        small websites to enterprise applications used by hundreds of users simultaneously from different offices globally.</p>
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <img src="../assets/aboutus.jpg" alt="img" class="img-fluid">
            </div>
        </div>
    </div>

    <div class="container mtop60">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <img src="../assets/about-2.jpg" alt="img" class="img-fluid">
            </div>

            <div class="col-sm-12 col-md-6 ">
                <div class="about-section">
                    <p><i>The Microsoft platform with ASP.NET is a platform of choice for several top level business and technical decision makers for several reasons.</i></p>
                    <ul>
                        <li>Powerful database driven functionality allows programmers to develop web applications that interface with a database</li>
                        <li>ASP.Net is object-oriented and has many tools that facilitate faster development and more functionality
                        </li>
                        <li>Faster web applications: Compiled code and caching make ASP.Net really fast. Earlier, the code was interpreted into 'machine language' when your website visitor viewed your page. With ASP.Net, the code is compiled before your visitor
                            even visits your site.
                        </li>
                        <li>Memory leak and crash protection: ASP.Net automatically retrieves from memory leaks and errors thus ensuring that your website is always available to visitors.
                        </li>
                        <li>Multiple Language Support: ASP.Net allows programmers to write their code in several .Net languages (including VB.Net, C and Jscript.Net). Hence, programmers can develop sites in a language they know best.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="gallery fixed">
    <div class="container">
        <div class="row">
            <div class="gallery-section">
                <h2>Our Mission </h2>
                <p class="tc white">Our team of professionals are committed to the simplest of goals - quality delivered in optimum time, every time ! Our time tested systems ensure that path-breaking technologies and products segue into an Internet paradigm tooled with
                    the latest in high technology systems.</p>
            </div>
        </div>
    </div>
</section>

<app-footer></app-footer>