<app-header></app-header>
<app-slider></app-slider>
<section class="services">
    <div class="container animatedParent">
        <div class="services-section">
            <h4>What we offer</h4>
            <h2>our services</h2>
            <p class="tc"> WINUX Systems is a web application and web design development company providing end-to-end solutions in the web domain for clients worldwide - across the USA, UK, Australia, Europe and Asia. </p>
        </div>
        <div class="mtop30">
            <div class="row flex-center">
                <div class="service-box nbb col-sm-6 col-md-4" *ngFor="let services of hservices; let i = index">
                    <div class="card"> <img src="{{services.img}}" alt="img">
                        <h5 class="card-subtitle mb-3">{{services.heading}}</h5>
                        <p class="card-text">{{services.paragraph}}</p>
                    </div>
                </div>
            </div>
            <div class="view-more">
                <a class="btn btn-blue" href="services.html">View more</a>
            </div>
        </div>
    </div>
</section>
<section class="why-choose">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-5">
                <div class="choose-section">
                    <h2>Why <span class="blue">choose us?</span></h2>
                    <p>Winux Software Solutions is committed to helping its clients reach their goals, to personalising their event experiences, to providing an innovative environment, and to making a difference. </p>
                    <p> As a consequence, we strive to share the experience we acquire across our organisation, our staff bring exceptional location knowledge to projects, as well as a deep understanding of cultural issues. </p>
                    <ul>
                        <li> <img src="../assets/icon-dedicated-team.png" alt="icon"> Dedicated Team </li>
                        <li> <img src="../assets/icon-partner.png" alt="icon"> True Partner </li>
                        <li> <img src="../assets/icon-focus.png" alt="icon"> Focus on Innovation </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 col-md-7">
                <div class="who-we-are">
                    <h6>We are?</h6>
                    <hr>
                    <p>WINUX Software Solutions provides High - Performance busines applications &amp; Custom Softwares, Exquisite Websites, Scalabale Internet and Database Applications using Industry-wide recognised Patterns &amp; Practices, simple yet
                        effective algorithms and Cutting Edge Technologies like Microsoft's .NET platform, MSSQL Server, XML Technologies &amp; Crystal Reports. </p>
                    <p>Our time to market Solutions / Services help our clients to automate business processes, make more profitable decisions, and accelerate growth. </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="gallery">
    <div class="container">
        <div class="row">
            <div class="flex-direction">
                <div class="gallery-section">
                    <h4>See our experience</h4>
                    <h2>project gallery</h2>
                </div>
                <angular-image-slider [images]="imagesUrl"></angular-image-slider>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>