section.services {
    padding: 80px 0 50px;
}

.card {
    margin: 5px;
}

section .services-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

section.services h4 {
    color: var(--blue);
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
}

section.services h2 {
    color: var(--dark);
    text-transform: uppercase;
    font-size: 26px;
    font-weight: 800;
    position: relative;
    margin-bottom: 40px;
}

.tc {
    text-align: center;
}

.service-box {
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.service-box {
    border-right: 0px solid #ddd;
}

.services .card {
    align-items: center;
    text-align: center;
    border: 0px;
    margin: 25px 10px 50px;
}

.services .card img {
    margin-bottom: 40px;
}

.services h5 {
    color: var(--dark);
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
    position: relative;
    margin-bottom: 20px;
}

.services h5 {
    color: var(--dark);
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
    position: relative;
    margin-bottom: 20px;
}

.nbb {
    border-bottom: 0px;
}

.why-choose {
    padding: 80px 0 50px;
    background: var(--white-shade);
}

.choose-section h2 {
    color: var(--dark);
    text-transform: uppercase;
    font-size: 28px;
    margin-bottom: 20px;
    font-weight: 800;
}

.choose-section ul {
    display: flex;
}

.choose-section ul li {
    font-size: 13px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex: 1;
}

.who-we-are {
    padding-left: 80px;
    position: relative;
}

.who-we-are:before {
    position: absolute;
    content: "";
    top: 0px;
    left: 0px;
    width: 70px;
    height: 65px;
    background: url("../assets/who.png") no-repeat;
}

.who-we-are:before {
    position: absolute;
    content: "";
    top: 0px;
    left: 0px;
    width: 70px;
    height: 65px;
    background: url("../assets/who.png") no-repeat;
}

section.gallery {
    padding: 80px 0 50px;
    background: url("../assets/bg-gallery.png") no-repeat;
    background-size: cover;
}

section .gallery-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

section.gallery h4 {
    color: var(--blue);
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
}

section.gallery h2 {
    color: var(--white);
    text-transform: uppercase;
    font-size: 26px;
    font-weight: 800;
    position: relative;
    margin-bottom: 40px;
}

section.gallery h2:after {
    background: var(--blue);
    position: absolute;
    width: 50px;
    height: 1px;
    left: 0;
    top: 40px;
    content: "";
    right: 0;
    margin: 0 auto;
}

.flex-direction {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.btn-blue:hover {
    background: var(--blue-shade);
    color: var(--white);
}

@media screen and (max-width: 767px) {
    section.services h2 {
        font-size: 20px;
    }
    .flex-center {
        margin: 0 auto;
    }
    .service-box {
        border-right: 0px solid #ddd;
    }
    .services .card {
        margin: 25px 5px 25px;
    }
}