<app-header></app-header>
<app-innerpage-banner></app-innerpage-banner>


<section class="services nb-padding">
    <div class="container animatedParent">
        <div class="services-section">
            <h4>What we offer</h4>
            <h2>our services</h2>
            <p class="tc"> WINUX Systems is a web application and web design development company providing end-to-end solutions in the web domain for clients worldwide - across the USA, UK, Australia, Europe and Asia. </p>
        </div>
        <div class="mtop30 services-section">
            <div class="row">

                <div class="service-box col-sm-6 col-md-6">
                    <div class="card"> <img src="../assets/serv-icon2.png" alt="img">
                        <h5 class="card-subtitle mb-3">Mobile App Development</h5>
                        <p class="card-text">Mobile apps are reigning supreme and for a business to make the right impression on the clients it is most important to get it made by experienced mobile app developers.</p>
                    </div>
                </div>


                <div class="service-box nbr  col-sm-6 col-md-6">
                    <div class="card"> <img src="../assets/serv-icon2.png" alt="img">
                        <h5 class="card-subtitle mb-3">Ecommerce Development</h5>
                        <p class="card-text">With the advent of the Internet, e-Commerce online has become the necessity. We at Team In India design and develop the best e-Commerce websites for you – something that are an exact match of what you were expecting.</p>
                    </div>
                </div>
                <div class="service-box col-sm-6 col-md-6">
                    <div class="card"> <img src="../assets/serv-icon3.png" alt="img">
                        <h5 class="card-subtitle mb-3">Web Design &amp; Development</h5>
                        <p class="card-text">WINUX Software Solutions creates both intro designs for splash pages and complete Flash web sites that rival the best. You could say we think to the future, we imagine what your Flash design would look like if it was created years
                            ahead and then we start our work.</p>
                    </div>
                </div>
                <div class="service-box nbr col-sm-6 col-md-6">
                    <div class="card"> <img src="../assets/serv-icon4.png" alt="img">
                        <h5 class="card-subtitle mb-3">cms application</h5>
                        <p class="card-text">At Team In India, we provide you undisputed and standard CMS Solutions – we’ve got the kind of experience in doing this and we’ve served a lot of clients over the last several years.</p>
                    </div>
                </div>
                <div class="service-box  col-sm-6 col-md-6">
                    <div class="card"> <img src="../assets/serv-icon5.png" alt="img">
                        <h5 class="card-subtitle mb-3">INTERNET PROMOTION AND SEO</h5>
                        <p class="card-text">Search engine optimization, also known as placement and positioning, is the process of optimizing and promoting a website over the Internet for top rankings in search engines. </p>
                    </div>
                </div>

                <div class="service-box nbr col-sm-6 col-md-6">
                    <div class="card"> <img src="../assets/serv-icon6.png" alt="img">
                        <h5 class="card-subtitle mb-3">Offshore Software Development</h5>
                        <p class="card-text">Our solutions serve clients from multiple industries including Manufacturing, Marketing, Distribution, and Service Based companies.Our policy is to provide the best service, efficiently; delivering on time and communicating thoroughly.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="gallery fixed ">
    <div class="container ">
        <div class="row ">
            <div class="gallery-section ">
                <h4>We're efficiently effective!</h4>
                <h2 class="wow animate fadeInUp" style="visibility: visible; animation-name: fadeInUp; opacity: 1;">Choose Us Because </h2>
                <div class="tc white wow animate fadeInDown" style="visibility: visible; animation-name: fadeInDown; opacity: 1;">
                    <ul class="choose-list">
                        <li>7+ years experience in the industry</li>
                        <li>Proven Methodologies</li>
                        <li>Source Code Authorization</li>
                        <li>Security and IP Protection</li>
                        <li>Well versed with MVC Structure</li>
                        <li>Best-in-industry quotations</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>



<section class="why-choose services">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-5">
                <div class="choose-section">
                    <h2 class="wow animate fadeInRight" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInRight; opacity: 1;">We Always Provide
                        <span class="blue">High Quality Products</span></h2>
                    <p class="wow animate fadeInLeft" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft; opacity: 1;">The design of a site is crucial. Without an attractive layout which appeals to a potential customer, you are likely to turn them away, with them leaving in search of something easier on the eye. As important as the words themselves
                        are, the way in which they arranged is similarly important when dealing with websites. It is as much art as coding, as what is created from the raw code must assemble into something that looks spectacular.</p>
                    <p class="wow animate fadeInRight" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInRight; opacity: 1;">Also, when simplicity is required, the diversity of HTML means that it loads quickly in a browser, while being displayed accurately in all browsers. HTML is the standard for internet coding, and so no plug-ins are required.</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-7">
                <div class="wow animate fadeInLeft" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInLeft; opacity: 1;">

                    <div class="media p-3">
                        <img src="assets/icon-modern-design.png" alt="modern design" class="mr-3">
                        <div class=" media-body ">
                            <h4>Modern Design</h4>
                            <p>WINUX Software Solutions creates both intro designs for splash pages and complete Flash web sites that rival the best. You could say we think to the future, we imagine what your Flash design would look like if it was created
                                years ahead and then we start our work. </p>

                        </div>
                    </div>
                    <div class="media p-3 ">
                        <img src="assets/icon-team-work.png " alt="modern design " class="mr-3">
                        <div class="media-body ">
                            <h4>DEDICATED TEAM</h4>
                            <p>Our dedicated team of professionals are experts in their technical field and can deliver high standard results.</p>
                        </div>
                    </div>
                    <div class="media p-3 ">
                        <img src="assets/icon-core-value.png " alt="modern design " class="mr-3">
                        <div class="media-body ">
                            <h4>Work Transparency</h4>
                            <p>We believe in transparency throughout each and every project, from start to finish. You will receive regular updates from your Project manager to let you know the status of your development.</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>


<app-footer></app-footer>