.inner-banner {
    height: 320px;
    background-position-y: -100px;
}

.inner-banner .carousel-caption {
    bottom: 0%;
    right: 26%;
    left: 26%;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: .5rem;
}

.inner-banner .carousel-caption h2 {
    font-size: 25px;
}

.carousel-caption h2 {
    font-weight: 800;
    font-size: 40px;
    text-transform: uppercase;
}

.carousel-caption p.lead {
    font-size: 14px;
    margin-bottom: 0;
}